form {
    padding: 30px;
    border: 1px solid #000;

    label {
        font-size: 22px;
        font-weight: 700;
    }

    input {
        margin: 5px 0 10px;
        height: 25px;
        width: 100%;
    }

    .botones {
        display: flex;

        .boton {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            margin-right: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }
    }
}
